@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Roboto Slab', serif;
}

.sideCon{
  display: flex;
  margin-top: 45px
}